* {
  box-sizing: border-box;
}
body {
  background-color: #80af8a;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: white;
  font-weight: 800;
}
.card {
  background-color: azure;
  border-radius: 10px;
  width: 250px;
  margin: 20px;
  border: 2px solid darkcyan;
  padding: 20px;
}
.card-img {
  text-align: center;
}
.types {
  display: flex;
  justify-content: center;
}
.card-type {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  font-weight: 700;
  font-size: 20px;
}
.name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}
.info,
.number {
  margin-left: 10px;
}
.card-data {
  padding-bottom: 10px;
}
.info .title,
.number {
  font-weight: 700;
}
.btns {
  display: flex;
  justify-content: center;
}
.btns button {
  padding: 10px 30px;
  margin: 20px;
  border-radius: 10px;
  outline: none;
}
.pokemonDetailsCard {
  background-color: lightgreen;
  width: 600px;
  text-align: center;
  margin-inline: auto;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.pokemonDetailsCard h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 32px;
  color: darkblue;
}
.pokemon-img {
  border: 3px solid white;
  box-shadow: 10px 10px 10px rgb(35, 113, 111);
  width: 400px;
  margin-inline: auto;
  margin-top: 10px;
}
.ability {
  color: darkcyan;
  text-decoration: none;
}
.abilities {
  color: 6B6B6B;
  font-size: 20px;
  font-weight: 700;
}
.bar {
  width: 70%;
  background-color: antiquewhite;
  height: 10px;
  border-radius: 10px;
  margin-inline: auto;
}
.progress-bar {
  background-color: darkblue;
  border-radius: 10px;
  height: 10px;
}
.back-button {
  color: rgb(13, 67, 27);
  font-weight: bold;
  font-size: 24px;
  border: 3px solid darkblue;
  padding: 0 20px;
  border-radius: 5px;
}
.properties {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
